* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: lightgr;

  font-family: Arial;
  scroll-behavior: smooth;
  text-size-adjust: none;
}

header {
  margin: 30px 0;
  text-align: center;

  font-size: 32px;
  font-weight: bold;
}

nav {
  display: block;
  text-align: center;
  background-color: darkcyan;
}

nav a {
  display: inline-block;
  margin: auto 0;
  padding: 20px 20px;
  text-align: center;

  font-size: 16px;

  color: white;

  list-style-type: none;
  text-decoration: none;
}

/*  The following responsive navigation settings
      are credited to the following page on w3schools:
      https://www.w3schools.com/howto/howto_js_topnav_responsive.asp
  */
@media screen and (max-width: 600px) {
  nav {
    text-align: left;
    position: relative;
  }

  nav.open {
    align-items: left;
    position: relative;
  }

  nav a.menu {
    float: right;
    display: block;
    margin-right: 2px;
  }

  nav.closed a.tool {
    display: none;
  }

  nav.open a.tool,
  nav.open a.home {
    display: block;
    text-align: left;
  }

  nav.open a.menu {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.menu {
  display: none;
}

nav a:hover {
  background-color: teal;
}

nav a.currDir {
  font-weight: bold;
}

p {
  display: block;
  margin: 20px auto;
  padding: 0 20px;
  min-width: 200px;
  max-width: 800px;

  font-size: 12pt;
}

sup {
  font-size: 11px;
}

.math {
  display: inline;
  font-family: "Computer Modern", serif;
}

.fancy {
  font-family: "Computer Modern", serif;
  font-style: italic;
}

#submit {
  grid-area: 4 / 1 / 5 / 3;
  display: block;
  margin: 30px auto;
  height: 60px;
  width: 140px;
  border: 1px solid teal;
  border-radius: 3px;

  font-size: 24px;

  color: white;
  background-color: darkcyan;
  cursor: pointer;
}

#submit:hover {
  background-color: teal;
}

#input {
  display: grid;
  justify-content: center;
  grid-template: 24px 24px 24px / 100px 100px;
  grid-row-gap: 10px;
}

#input div {
  padding-top: 3px;
  padding-right: 20px;
  text-align: right;
}

#input div.field input {
  width: 100px;
}

/* the following 2 settings remove the arrows on number inputs.
   Source: https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box
*/
input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#solution {
  visibility: hidden;

  font-size: 20px;
  text-align: center;
}