* {
    margin: 0;
    padding: 0;
    background-color: gray;
    font-family: Arial;
}

.center {
    text-align: center;
}

header {
    text-align: center;
}

p {
    margin: 10px 25%;
    max-width: 800px;
}

textarea {
    display: block;
    margin: 10px auto;
    resize: none;
    font-size: 16px;
}