textarea {
  display: block;
  position: relative;
  margin: 20px auto;
  padding: 3px;

  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: bold;

  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 5px;

  resize: none;
}

textarea:focus {
  border: 2px solid black;
  margin: 18px auto;
  outline: none;
}

#exampleContainer {
  display: block;
  text-align: center;
}

#example {
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 5px;

  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: bold;
}

#submit {
  display: block;
  margin: 30px auto;
  height: 60px;
  width: 140px;
  border: 1px solid teal;
  border-radius: 3px;

  font-size: 24px;

  color: white;
  background-color: darkcyan;
  cursor: pointer;
}

#submit:hover {
  background-color: teal;
}

.fraction {
  display: inline-block;
  vertical-align: middle;

  font-family: "Computer Modern", serif;
  text-align: center;
}

.numerator {
  display: block;

  font-family: "Computer Modern", serif;
  text-align: center;
}

.denominator {
  display: block;

  font-family: "Computer Modern", serif;
  text-align: center;

  border-top: 1px solid black;
}

.outputButtons {
  text-align: center;
}

.outputButtons div {
  display: inline;
  padding: 0 20px;
}

#solution {
  min-width: 200px;
  margin: 30px auto 0 auto;

  text-align: center;

  visibility: hidden;
}

.outputLine {
  display: block;
  margin: 0 auto;
  padding: 5px 0;
  min-width: 200px;
}
