* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    background-color: lightgr;

    font-family: Arial;
}

header {
    margin: 30px 0;
    text-align: center;

    font-size: 36px;
    font-weight: bold;
}

p {
    display: block;
    margin: 20px auto;
    padding: 0 auto;
    min-width: 200px;
    max-width: 800px;

    font-size: 12pt;
}

textarea {
    display: block;
    position: relative;
    margin: 20px auto;
    padding: 3px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;

    /* prevent user from resizing the box */
    resize: none;
}

textarea.example {
    text-align: center;
}

nav {
    text-align: center;
    
    background-color: darkcyan;
    border-bottom: 1px black solid;
}

nav a {
    display: inline-block;
    margin: auto -4px;
    padding: 20px 20px;
    text-align: center;

    font-size: 16px;

    color: white;

    list-style-type: none;
    text-decoration: none;
}

nav a:hover {
    background-color: teal;
}

nav a.currDir {
    font-weight: bold;
}

#submit {
    display: block;
    margin: 20px auto;
    height: 40px;
    width: 100px;
    border: 1px black solid;
    border-radius: 3px;

    font-size: 16px;

    color: white;
    background-color: darkcyan;
}

#submit:hover {
    background-color: teal;
}

.math {
    font-family: "Computer Modern";
}

.fancy {
    font-family: "Computer Modern";
    font-style: italic;
}

.fraction {
    display: inline-block;
    vertical-align: middle;

    font-family: "Computer Modern";
    text-align: center;
}

.number {
    display: inline;

    font-family: "Computer Modern";
    text-align: center;
}

.numerator {
    display: block;

    font-family: "Computer Modern";
    text-align: center;
}

.denominator {
    display: block;

    font-family: "Computer Modern";
    text-align: center;

    border-top: 1px solid black;
}

.outputButtons {
    text-align: center;
}

.outputButtons div {
    display: inline;
    padding: 0 20px;
}